#!/bin/sh
# bamboo startup script
# chkconfig: 2345 80 05
# description: Bamboo CI service
### BEGIN INIT INFO
# Provides: bamboo
# Required-Start: $local_fs $remote_fs $network $named $syslog $time
# Required-Stop: $local_fs $remote_fs $network $named $syslog $time
# Short-Description: start and stop Bamboo service
# Description: Bamboo CI service
### END INIT INFO

# Define some variables
# Name of app
prog=bamboo
# Name of the user to run as
user=bamboo
# Location of application's bin directory
base={{ installto }}/atlassian/bamboo-{{ bamboover }}
# Location of Java JDK
export JAVA_HOME=/usr/lib/jvm/jre

# Source function library.
. /etc/rc.d/init.d/functions

# Source override configuration.
[ -e /etc/sysconfig/$prog ] && . /etc/sysconfig/$prog

lockfile=/var/lock/subsys/$prog
pidfile=/var/run/${prog}.pid

case "$1" in
    start)
        if [ -f $lockfile ]; then
            # already running
            action $"Starting $prog: " /bin/true
        else
            action $"Starting $prog: " /bin/su -m $user -c "$base/bin/startup.sh &> /dev/null"
            ret=$?
            if [ $ret -eq 0 ]; then
                touch $lockfile
                echo $(pgrep -f $prog) > $pidfile
            fi
        fi
    ;;
    stop)
        action $"Stopping $prog: " /bin/su -m $user -c "$base/bin/shutdown.sh &> /dev/null"
        ret=$?
        if [ $ret -eq 0 ]; then
            rm $lockfile $pidfile
        fi
    ;;
    restart)
        $0 stop
        sleep 5
        $0 start
    ;;
    *)
        echo "Usage: /etc/init.d/$prog {start|restart|stop}"
        exit 1
    ;;
esac

exit 0
